openapi: 3.0.3
info:
  title: phish.directory API
  description: |
    Real-time phishing detection API. Check domains and URLs against multiple threat intelligence sources.

    ## Authentication

    Every endpoint except `/health` and `/auth/*` needs an API key. Send it in a header:

    ```
    Authorization: Bearer YOUR_API_KEY
    ```

    Or alternatively:

    ```
    X-API-Key: YOUR_API_KEY
    ```

    There are two kinds of key, and each opens a different part of the API:

    | Kind | Format | Opens |
    |------|--------|-------|
    | User key | `pdat_...` | The check endpoints and `/user/me` |
    | Service key | no prefix | `/webhooks`, `/identity/*` and `/auth/authenticate` |

    A service key can also be flagged as a **trusted source**. Those keys open the
    `/source/*` endpoints, which write your own verdicts into our database instead
    of reading ours. Some endpoints additionally need the calling user to be an
    admin, which is noted on each one.

    ## Rate Limits

    All endpoints require authentication (except `/health`). We use sliding windows with burst support:
    - **Burst:** 60 requests per 10 seconds
    - **Short-term:** 200 requests per minute
    - **Hourly:** 1,000 requests per hour
    - **Bulk:** Max 100 items per request

    ### Upstream Service Limits
    We aggregate data from multiple threat intelligence sources, each with their own limits:
    | Service | Per Minute | Per Day |
    |---------|------------|---------|
    | VirusTotal | 4 | 500 |
    | URLScan | 60 | 1,000 |
    | Google Safe Browsing | 100 | 10,000 |

    When a source is rate-limited, responses include `rate_limited_services` in the details.

  version: '1.0'
  contact:
    name: phish.directory Support
    email: support@phish.directory
  license:
    name: O'Saasy License
    url: https://phish.directory/docs/terms

servers:
  - url: https://phish.directory/api/v1
    description: Production
  - url: http://localhost:3000/api/v1
    description: Development

tags:
  - name: Health
    description: API health checks
  - name: Domain
    description: Domain verification endpoints
  - name: URL
    description: URL verification endpoints
  - name: Phone
    description: Phone number verification endpoints
  - name: Email
    description: Email verification endpoints
  - name: User
    description: User account management
  - name: Auth
    description: Service-to-service authentication
  - name: WHOIS
    description: Domain registration lookups
  - name: Protections
    description: The protected list (admin only)
  - name: Trusted Sources
    description: Verdict ingestion (trusted source service keys only)
  - name: Webhooks
    description: Webhook management (service keys only)
  - name: Identity
    description: User management for federated services (service keys only)
  - name: Admin
    description: Operator endpoints (admin only)

paths:
  /health:
    get:
      operationId: getHealth
      tags:
        - Health
      summary: Health check
      description: Check if the API is operational. No authentication required.
      security: []
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  timestamp:
                    type: string
                    format: date-time

  /auth/authenticate:
    post:
      operationId: postAuthAuthenticate
      tags:
        - Auth
      summary: Verify a service key
      description: |
        Confirm that a service key is valid and usable, and find out which service
        it belongs to. Send the service key itself as the credential. A user key
        (`pdat_*`) is never accepted here.
      responses:
        '200':
          description: The key is valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  authenticated:
                    type: boolean
                    example: true
                  service:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      name:
                        type: string
                        example: partner-feed
                  key_id:
                    type: string
                    format: uuid
        '401':
          description: The key is missing, unknown, revoked, or its service is not active
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: "Invalid API key"

  /auth/token:
    post:
      operationId: postAuthToken
      tags:
        - Auth
      summary: Exchange credentials for an access token
      description: |
        Not implemented. Use `/oauth/token` for OAuth 2.0 token exchange.
      security: []
      responses:
        '501':
          $ref: '#/components/responses/NotImplemented'

  /auth/refresh:
    post:
      operationId: postAuthRefresh
      tags:
        - Auth
      summary: Refresh an access token
      description: |
        Not implemented. Use `/oauth/token` with `grant_type=refresh_token`.
      security: []
      responses:
        '501':
          $ref: '#/components/responses/NotImplemented'

  /domain/check:
    get:
      operationId: getDomainCheck
      tags:
        - Domain
      summary: Check a domain
      description: Check if a domain is associated with phishing or other malicious activity.
      parameters:
        - name: domain
          in: query
          required: true
          description: The domain to check (e.g., example.com)
          schema:
            type: string
            example: suspicious-site.com
      responses:
        '200':
          description: Domain check result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: postDomainCheck
      tags:
        - Domain
      summary: Check a domain
      description: Check if a domain is associated with phishing or other malicious activity.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - domain
              properties:
                domain:
                  type: string
                  description: The domain to check
                  example: suspicious-site.com
      responses:
        '200':
          description: Domain check result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /domain/bulk:
    get:
      operationId: getDomainBulk
      tags:
        - Domain
      summary: Check multiple domains (query string form)
      description: |
        The same as the POST form, with the values in the query string as
        `?domains[]=...&domains[]=...`. Prefer POST for anything but a
        handful of values: a long query string is easy to truncate.
      parameters:
        - name: domains[]
          in: query
          required: true
          explode: true
          schema:
            type: array
            maxItems: 100
            items:
              type: string
          example: ["example.com", "suspicious-site.com"]
      responses:
        '200':
          description: Bulk check results, in the order sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/DomainResult'
                  count:
                    type: integer
                    example: 2
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: postDomainBulk
      tags:
        - Domain
      summary: Check multiple domains
      description: Check up to 100 domains in a single request.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - domains
              properties:
                domains:
                  type: array
                  items:
                    type: string
                  maxItems: 100
                  example:
                    - example.com
                    - suspicious-site.com
      responses:
        '200':
          description: Bulk domain check results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/DomainResult'
                  count:
                    type: integer
                    example: 2
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /domain/whois:
    get:
      operationId: getDomainWhois
      tags:
        - WHOIS
      summary: Look up domain registration
      description: |
        Registration details for a domain, from WHOIS or RDAP. Results are cached,
        so repeated lookups of the same domain do not hit the registry again.
      parameters:
        - name: domain
          in: query
          required: true
          schema:
            type: string
          example: suspicious-site.com
      responses:
        '200':
          description: Registration information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhoisResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: No registration information found for this domain
          content:
            application/json:
              schema:
                type: object
                properties:
                  domain:
                    type: string
                  error:
                    type: string
                    example: Domain registration information not found
                  queried_at:
                    type: string
                    format: date-time
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      operationId: postDomainWhois
      tags:
        - WHOIS
      summary: Look up domain registration
      description: Same as the GET form, with the domain in the request body.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [domain]
              properties:
                domain:
                  type: string
                  example: suspicious-site.com
      responses:
        '200':
          description: Registration information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhoisResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: No registration information found for this domain
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /domain/whois/bulk:
    get:
      operationId: getDomainWhoisBulk
      tags:
        - WHOIS
      summary: Look up registration for several domains (query string form)
      description: |
        The same as the POST form, with the domains in the query string as
        `?domains[]=...&domains[]=...`.
      parameters:
        - name: domains[]
          in: query
          required: true
          explode: true
          schema:
            type: array
            maxItems: 100
            items:
              type: string
          example: ["suspicious-site.com", "example.com"]
      responses:
        '200':
          description: Registration information, in the order sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/WhoisResult'
                  count:
                    type: integer
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        domain:
                          type: string
                        error:
                          type: string
                        retry_after:
                          type: integer
                          nullable: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      operationId: postDomainWhoisBulk
      tags:
        - WHOIS
      summary: Look up registration for several domains
      description: |
        Up to 100 domains per request. A lookup that fails does not fail the batch:
        it appears in `errors` instead. A rate limit from the registry stops the
        batch early, so `results` can be shorter than what you sent.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [domains]
              properties:
                domains:
                  type: array
                  maxItems: 100
                  items:
                    type: string
                  example: ["suspicious-site.com", "example.com"]
      responses:
        '200':
          description: Registration information, in the order sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/WhoisResult'
                  count:
                    type: integer
                    example: 2
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        domain:
                          type: string
                        error:
                          type: string
                        retry_after:
                          type: integer
                          nullable: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /domain/protections:
    get:
      operationId: getDomainProtections
      tags:
        - Protections
      summary: List protected domains
      description: |
        The protected list holds domains that must never be flagged, whatever any
        source reports. Needs an admin user key.
      responses:
        '200':
          description: The protected domains
          content:
            application/json:
              schema:
                type: object
                properties:
                  protections:
                    type: array
                    items:
                      $ref: '#/components/schemas/Protection'
                  count:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: postDomainProtections
      tags:
        - Protections
      summary: Protect a domain
      description: Add a domain to the protected list. Needs an admin user key.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [protectable_value]
              properties:
                protectable_value:
                  type: string
                  description: The domain to protect
                  example: example.com
                reason:
                  type: string
                  nullable: true
                  example: Customer owned domain
      responses:
        '201':
          description: The domain is now protected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Protection'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /domain/protections/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Public identifier (prt_...) or UUID
        example: prt_4k8xJm2pN9qW
    get:
      operationId: getDomainProtectionsById
      tags:
        - Protections
      summary: Get one protection
      description: Needs an admin user key.
      responses:
        '200':
          description: The protection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Protection'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteDomainProtectionsById
      tags:
        - Protections
      summary: Remove a protection
      description: Needs an admin user key.
      responses:
        '204':
          description: The domain is no longer protected
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /url/check:
    get:
      operationId: getUrlCheck
      tags:
        - URL
      summary: Check a URL
      description: Check if a URL is associated with phishing or other malicious activity.
      parameters:
        - name: url
          in: query
          required: true
          description: The full URL to check
          schema:
            type: string
            example: https://suspicious-site.com/login
      responses:
        '200':
          description: URL check result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UrlResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: postUrlCheck
      tags:
        - URL
      summary: Check a URL
      description: Check if a URL is associated with phishing or other malicious activity.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - url
              properties:
                url:
                  type: string
                  description: The full URL to check
                  example: https://suspicious-site.com/login
      responses:
        '200':
          description: URL check result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UrlResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /url/bulk:
    get:
      operationId: getUrlBulk
      tags:
        - URL
      summary: Check multiple URLs (query string form)
      description: |
        The same as the POST form, with the values in the query string as
        `?urls[]=...&urls[]=...`. Prefer POST for anything but a
        handful of values: a long query string is easy to truncate.
      parameters:
        - name: urls[]
          in: query
          required: true
          explode: true
          schema:
            type: array
            maxItems: 100
            items:
              type: string
          example: ["https://example.com", "https://suspicious-site.com/login"]
      responses:
        '200':
          description: Bulk check results, in the order sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/UrlResult'
                  count:
                    type: integer
                    example: 2
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: postUrlBulk
      tags:
        - URL
      summary: Check multiple URLs
      description: Check up to 100 URLs in a single request.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - urls
              properties:
                urls:
                  type: array
                  items:
                    type: string
                  maxItems: 100
                  example:
                    - https://example.com/page
                    - https://suspicious-site.com/login
      responses:
        '200':
          description: Bulk URL check results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/UrlResult'
                  count:
                    type: integer
                    example: 2
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /phone/check:
    get:
      operationId: getPhoneCheck
      tags:
        - Phone
      summary: Check a phone number
      description: Check if a phone number is associated with scam or fraud activity.
      parameters:
        - name: phone
          in: query
          required: true
          description: The phone number to check (E.164 format preferred, e.g., +14155551234)
          schema:
            type: string
            example: "+14155551234"
      responses:
        '200':
          description: Phone number check result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: postPhoneCheck
      tags:
        - Phone
      summary: Check a phone number
      description: Check if a phone number is associated with scam or fraud activity.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - phone
              properties:
                phone:
                  type: string
                  description: The phone number to check (E.164 format preferred)
                  example: "+14155551234"
      responses:
        '200':
          description: Phone number check result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /phone/bulk:
    get:
      operationId: getPhoneBulk
      tags:
        - Phone
      summary: Check multiple phone numbers (query string form)
      description: |
        The same as the POST form, with the values in the query string as
        `?phone_numbers[]=...&phone_numbers[]=...`. Prefer POST for anything but a
        handful of values: a long query string is easy to truncate.
      parameters:
        - name: phone_numbers[]
          in: query
          required: true
          explode: true
          schema:
            type: array
            maxItems: 100
            items:
              type: string
          example: ["+14155551234", "+442071838750"]
      responses:
        '200':
          description: Bulk check results, in the order sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/PhoneResult'
                  count:
                    type: integer
                    example: 2
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: postPhoneBulk
      tags:
        - Phone
      summary: Check multiple phone numbers
      description: Check up to 100 phone numbers in a single request.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - phones
              properties:
                phones:
                  type: array
                  items:
                    type: string
                  maxItems: 100
                  example:
                    - "+14155551234"
                    - "+442071234567"
      responses:
        '200':
          description: Bulk phone number check results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/PhoneResult'
                  count:
                    type: integer
                    example: 2
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /email/check:
    get:
      operationId: getEmailCheck
      tags:
        - Email
      summary: Check an email address
      description: Check if an email address is associated with fraud, disposable services, or phishing.
      parameters:
        - name: email
          in: query
          required: true
          description: The email address to check
          schema:
            type: string
            format: email
            example: "user@example.com"
      responses:
        '200':
          description: Email check result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: postEmailCheck
      tags:
        - Email
      summary: Check an email address
      description: Check if an email address is associated with fraud, disposable services, or phishing.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
                  description: The email address to check
                  example: "user@example.com"
      responses:
        '200':
          description: Email check result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /email/bulk:
    get:
      operationId: getEmailBulk
      tags:
        - Email
      summary: Check multiple email addresses (query string form)
      description: |
        The same as the POST form, with the values in the query string as
        `?emails[]=...&emails[]=...`. Prefer POST for anything but a
        handful of values: a long query string is easy to truncate.
      parameters:
        - name: emails[]
          in: query
          required: true
          explode: true
          schema:
            type: array
            maxItems: 100
            items:
              type: string
          example: ["user@example.com", "sender@suspicious-site.com"]
      responses:
        '200':
          description: Bulk check results, in the order sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/EmailResult'
                  count:
                    type: integer
                    example: 2
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: postEmailBulk
      tags:
        - Email
      summary: Check multiple email addresses
      description: Check up to 100 email addresses in a single request.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - emails
              properties:
                emails:
                  type: array
                  items:
                    type: string
                    format: email
                  maxItems: 100
                  example:
                    - "user1@example.com"
                    - "user2@suspicious.net"
      responses:
        '200':
          description: Bulk email check results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/EmailResult'
                  count:
                    type: integer
                    example: 2
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /user/me:
    get:
      operationId: getUserMe
      tags:
        - User
      summary: Get current user
      description: Get information about the authenticated user.
      responses:
        '200':
          description: User information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
    put:
      operationId: putUserMe
      tags:
        - User
      summary: Update current user
      description: Update the authenticated user's profile.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                last_name:
                  type: string
      responses:
        '200':
          description: Updated user information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /source/domains:
    post:
      operationId: postSourceDomains
      tags:
        - Trusted Sources
      summary: Upsert domains and their verdicts
      description: |
        Push your own verdicts in. The submission upserts: it creates the record
        when we have never seen the value, and replaces the verdict on the record
        when we have. Our upstream checks do not run.

        Needs a service key flagged as a trusted source. A user key is refused.

        One bad entry does not fail the request. Every entry gets its own result,
        and the response is 200 as long as the request itself was well formed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [domains]
              properties:
                domains:
                  type: array
                  minItems: 1
                  maxItems: 1000
                  description: |
                    Bare values, or objects. A bare value takes the request-level
                    classification and confidence.
                  items:
                    oneOf:
                      - type: string
                        example: evil.example
                      - $ref: '#/components/schemas/SourceEntry'
                classification:
                  type: string
                  enum: [phishing, suspicious, clean]
                  description: Applied to every entry that states none of its own
                  example: phishing
                confidence:
                  type: number
                  format: float
                  minimum: 0
                  maximum: 1
                  description: Applied to every entry that states none of its own. Defaults to 1.0.
                  example: 0.99
      responses:
        '200':
          description: The submission was processed. Check each entry's status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceUpsertResponse'
        '400':
          description: The array is missing, empty, or holds more than 1000 entries
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Maximum 1000 entries per request
                  received:
                    type: integer
                    example: 1500
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: The key is not flagged as a trusted source
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Trusted source access required
                  hint:
                    type: string
                    example: This endpoint needs a service key marked as a trusted source

  /source/urls:
    post:
      operationId: postSourceUrls
      tags:
        - Trusted Sources
      summary: Upsert URLs and their verdicts
      description: |
        Push your own verdicts in. The submission upserts: it creates the record
        when we have never seen the value, and replaces the verdict on the record
        when we have. Our upstream checks do not run.

        Needs a service key flagged as a trusted source. A user key is refused.

        One bad entry does not fail the request. Every entry gets its own result,
        and the response is 200 as long as the request itself was well formed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [urls]
              properties:
                urls:
                  type: array
                  minItems: 1
                  maxItems: 1000
                  description: |
                    Bare values, or objects. A bare value takes the request-level
                    classification and confidence.
                  items:
                    oneOf:
                      - type: string
                        example: https://evil.example/login
                      - $ref: '#/components/schemas/SourceEntry'
                classification:
                  type: string
                  enum: [phishing, suspicious, clean]
                  description: Applied to every entry that states none of its own
                  example: phishing
                confidence:
                  type: number
                  format: float
                  minimum: 0
                  maximum: 1
                  description: Applied to every entry that states none of its own. Defaults to 1.0.
                  example: 0.99
      responses:
        '200':
          description: The submission was processed. Check each entry's status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceUpsertResponse'
        '400':
          description: The array is missing, empty, or holds more than 1000 entries
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Maximum 1000 entries per request
                  received:
                    type: integer
                    example: 1500
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: The key is not flagged as a trusted source
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Trusted source access required
                  hint:
                    type: string
                    example: This endpoint needs a service key marked as a trusted source

  /source/emails:
    post:
      operationId: postSourceEmails
      tags:
        - Trusted Sources
      summary: Upsert email addresses and their verdicts
      description: |
        Push your own verdicts in. The submission upserts: it creates the record
        when we have never seen the value, and replaces the verdict on the record
        when we have. Our upstream checks do not run.

        Needs a service key flagged as a trusted source. A user key is refused.

        One bad entry does not fail the request. Every entry gets its own result,
        and the response is 200 as long as the request itself was well formed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [emails]
              properties:
                emails:
                  type: array
                  minItems: 1
                  maxItems: 1000
                  description: |
                    Bare values, or objects. A bare value takes the request-level
                    classification and confidence.
                  items:
                    oneOf:
                      - type: string
                        example: sender@evil.example
                      - $ref: '#/components/schemas/SourceEntry'
                classification:
                  type: string
                  enum: [phishing, suspicious, clean]
                  description: Applied to every entry that states none of its own
                  example: phishing
                confidence:
                  type: number
                  format: float
                  minimum: 0
                  maximum: 1
                  description: Applied to every entry that states none of its own. Defaults to 1.0.
                  example: 0.99
      responses:
        '200':
          description: The submission was processed. Check each entry's status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceUpsertResponse'
        '400':
          description: The array is missing, empty, or holds more than 1000 entries
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Maximum 1000 entries per request
                  received:
                    type: integer
                    example: 1500
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: The key is not flagged as a trusted source
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Trusted source access required
                  hint:
                    type: string
                    example: This endpoint needs a service key marked as a trusted source

  /source/phone_numbers:
    post:
      operationId: postSourcePhoneNumbers
      tags:
        - Trusted Sources
      summary: Upsert phone numbers and their verdicts
      description: |
        Push your own verdicts in. The submission upserts: it creates the record
        when we have never seen the value, and replaces the verdict on the record
        when we have. Our upstream checks do not run.

        Needs a service key flagged as a trusted source. A user key is refused.

        One bad entry does not fail the request. Every entry gets its own result,
        and the response is 200 as long as the request itself was well formed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone_numbers]
              properties:
                phone_numbers:
                  type: array
                  minItems: 1
                  maxItems: 1000
                  description: |
                    Bare values, or objects. A bare value takes the request-level
                    classification and confidence.
                  items:
                    oneOf:
                      - type: string
                        example: "+14155551234"
                      - $ref: '#/components/schemas/SourceEntry'
                classification:
                  type: string
                  enum: [phishing, suspicious, clean]
                  description: Applied to every entry that states none of its own
                  example: phishing
                confidence:
                  type: number
                  format: float
                  minimum: 0
                  maximum: 1
                  description: Applied to every entry that states none of its own. Defaults to 1.0.
                  example: 0.99
      responses:
        '200':
          description: The submission was processed. Check each entry's status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceUpsertResponse'
        '400':
          description: The array is missing, empty, or holds more than 1000 entries
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Maximum 1000 entries per request
                  received:
                    type: integer
                    example: 1500
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: The key is not flagged as a trusted source
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Trusted source access required
                  hint:
                    type: string
                    example: This endpoint needs a service key marked as a trusted source

  /webhooks:
    get:
      operationId: getWebhooks
      tags:
        - Webhooks
      summary: List your webhooks
      description: Needs a service key.
      responses:
        '200':
          description: The webhooks registered for your service
          content:
            application/json:
              schema:
                type: object
                properties:
                  webhooks:
                    type: array
                    items:
                      $ref: '#/components/schemas/Webhook'
                  count:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: postWebhooks
      tags:
        - Webhooks
      summary: Register a webhook
      description: |
        Needs a service key. The signing secret is returned once, on creation, and
        never again.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url]
              properties:
                url:
                  type: string
                  format: uri
                  example: https://example.com/hooks/phish
                events:
                  type: array
                  description: Defaults to every event when omitted
                  items:
                    type: string
                    enum: [user.created, user.role_changed, domain.verdict, url.verdict]
      responses:
        '201':
          description: The webhook was registered
          content:
            application/json:
              schema:
                type: object
                properties:
                  webhook:
                    $ref: '#/components/schemas/Webhook'
                  secret:
                    type: string
                    description: Signing secret. Shown only here, so store it now.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Validation failed
                  details:
                    type: array
                    items:
                      type: string

  /webhooks/{id}:
    delete:
      operationId: deleteWebhooksById
      tags:
        - Webhooks
      summary: Remove a webhook
      description: Needs a service key. Only your own service's webhooks can be removed.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Public identifier (swh_...) or UUID
          example: swh_4k8xJm2pN9qW
      responses:
        '200':
          description: The webhook was removed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /identity/authenticate:
    post:
      operationId: postIdentityAuthenticate
      tags:
        - Identity
      summary: Verify a user's credentials
      description: |
        Needs a service key. Returns one answer for every kind of failure, so a
        caller cannot tell an unknown email from a wrong password or a locked
        account.

        Gated by the `identity_api_enabled` feature flag.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        '200':
          description: The credentials are valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  authenticated:
                    type: boolean
                    example: true
                  pd_id:
                    type: string
                    example: PDU5A1B2C3D
                  public_id:
                    type: string
                    example: usr_4k8xJm2pN9qW
                  email:
                    type: string
                    format: email
                  access_level:
                    type: string
                    enum: [user, trusted, admin, superadmin, owner]
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          description: The credentials are not valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  authenticated:
                    type: boolean
                    example: false
        '503':
          $ref: '#/components/responses/IdentityApiDisabled'

  /identity/users:
    post:
      operationId: postIdentityUsers
      tags:
        - Identity
      summary: Create a user
      description: Needs a service key. Gated by the `identity_api_enabled` feature flag.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
                first_name:
                  type: string
                last_name:
                  type: string
                password:
                  type: string
                  format: password
                password_confirmation:
                  type: string
                  format: password
                skip_confirmation:
                  type: boolean
                  description: Marks the email as already verified
      responses:
        '201':
          description: The user was created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityUser'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          description: The email already exists, or validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          $ref: '#/components/responses/IdentityApiDisabled'

  /identity/users/by_email:
    get:
      operationId: getIdentityUsersByEmail
      tags:
        - Identity
      summary: Find a user by email
      description: Needs a service key. Gated by the `identity_api_enabled` feature flag.
      parameters:
        - name: email
          in: query
          required: true
          schema:
            type: string
            format: email
      responses:
        '200':
          description: The user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityUser'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/IdentityApiDisabled'

  /identity/users/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: A pd_id (PDU...), a public identifier (usr_...), or a UUID
        example: PDU5A1B2C3D
    get:
      operationId: getIdentityUsersById
      tags:
        - Identity
      summary: Get a user
      description: Needs a service key. Gated by the `identity_api_enabled` feature flag.
      responses:
        '200':
          description: The user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityUser'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/IdentityApiDisabled'
    patch:
      operationId: patchIdentityUsersById
      tags:
        - Identity
      summary: Update a user
      description: |
        An alias of the PUT form. Rails routes both verbs to the same action.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                last_name:
                  type: string
      responses:
        '200':
          description: The updated user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityUser'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          $ref: '#/components/responses/IdentityApiDisabled'
    put:
      operationId: putIdentityUsersById
      tags:
        - Identity
      summary: Update a user
      description: Needs a service key. Gated by the `identity_api_enabled` feature flag.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                last_name:
                  type: string
      responses:
        '200':
          description: The updated user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityUser'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          $ref: '#/components/responses/IdentityApiDisabled'

  /admin/domain/bulk_import:
    post:
      operationId: postAdminDomainBulkImport
      tags:
        - Admin
      summary: Queue domains for checking
      description: |
        Seeds domain records and queues a check for each one that needs it. Unlike
        the trusted source endpoints, this states no verdict: our own checks decide.
        Needs an admin user key.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [domains]
              properties:
                domains:
                  type: array
                  minItems: 1
                  maxItems: 5000
                  items:
                    type: string
      responses:
        '202':
          description: The domains were queued
          content:
            application/json:
              schema:
                type: object
                properties:
                  accepted:
                    type: integer
                    example: 250
                  job_id:
                    type: string
                  message:
                    type: string
                    example: Domains queued for processing
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: |
        Any API key. A user key carries the pdat_ prefix; a service key has no
        prefix. Which endpoints the key opens depends on its kind.
    ApiKeyHeader:
      type: apiKey
      in: header
      name: X-API-Key
      description: |
        Any API key. A user key carries the pdat_ prefix; a service key has no
        prefix. Which endpoints the key opens depends on its kind.

  schemas:
    DomainResult:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the domain record
          example: dom_4k8xJm2pN9qW
        domain:
          type: string
          description: The normalized domain
          example: suspicious-site.com
        verdict:
          type: string
          enum: [clean, suspicious, phishing, unknown, protected]
          description: The verdict for this domain
          example: phishing
        confidence:
          type: number
          format: float
          minimum: 0
          maximum: 1
          nullable: true
          description: Confidence score (0-1)
          example: 0.94
        scam_category:
          type: string
          nullable: true
          description: Scam taxonomy category, once the record has been classified
          example: credential_theft
        scam_subcategory:
          type: string
          nullable: true
          description: Scam taxonomy subcategory
          example: fake_login_page
        verdict_id:
          type: string
          nullable: true
          description: Public identifier of the verdict record
          example: vrd_7fQ2xR4tL1mZ
        last_checked:
          type: string
          format: date-time
          nullable: true
          description: When the domain was last checked
        created_at:
          type: string
          format: date-time
          description: When the domain was first seen

    UrlResult:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the URL record
          example: url_4k8xJm2pN9qW
        url:
          type: string
          description: The normalized URL
          example: https://suspicious-site.com/login
        domain:
          type: string
          nullable: true
          description: The host portion of the URL
          example: suspicious-site.com
        verdict:
          type: string
          enum: [clean, suspicious, phishing, unknown, protected]
          description: The verdict for this URL
          example: phishing
        confidence:
          type: number
          format: float
          minimum: 0
          maximum: 1
          nullable: true
          description: Confidence score (0-1)
          example: 0.87
        scam_category:
          type: string
          nullable: true
          description: Scam taxonomy category, once the record has been classified
          example: credential_theft
        scam_subcategory:
          type: string
          nullable: true
          description: Scam taxonomy subcategory
          example: fake_login_page
        verdict_id:
          type: string
          nullable: true
          description: Public identifier of the verdict record
          example: vrd_7fQ2xR4tL1mZ
        last_checked:
          type: string
          format: date-time
          nullable: true
          description: When the URL was last checked
        created_at:
          type: string
          format: date-time
          description: When the URL was first seen

    PhoneResult:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the phone record
          example: phn_4k8xJm2pN9qW
        phone_number:
          type: string
          description: The phone number in E.164 format
          example: "+14155551234"
        verdict:
          type: string
          enum: [clean, suspicious, phishing, unknown, protected]
          description: The verdict for this phone number
          example: clean
        confidence:
          type: number
          format: float
          minimum: 0
          maximum: 1
          nullable: true
          description: Confidence score (0-1)
          example: 0.85
        phone_type:
          type: string
          enum: [mobile, voip, landline, toll_free, unknown]
          nullable: true
          description: Type of phone number
          example: mobile
        country_code:
          type: string
          nullable: true
          description: ISO 3166-1 alpha-2 country code
          example: US
        carrier:
          type: string
          nullable: true
          description: Phone carrier name
          example: Verizon
        scam_category:
          type: string
          nullable: true
          description: Scam taxonomy category, once the record has been classified
          example: credential_theft
        scam_subcategory:
          type: string
          nullable: true
          description: Scam taxonomy subcategory
          example: fake_login_page
        verdict_id:
          type: string
          nullable: true
          description: Public identifier of the verdict record
          example: vrd_7fQ2xR4tL1mZ
        last_checked:
          type: string
          format: date-time
          nullable: true
          description: When the phone number was last checked
        created_at:
          type: string
          format: date-time
          description: When the phone number was first seen

    EmailResult:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the email record
          example: eml_4k8xJm2pN9qW
        email:
          type: string
          format: email
          description: The email address
          example: user@example.com
        domain:
          type: string
          description: The domain portion of the email
          example: example.com
        verdict:
          type: string
          enum: [clean, suspicious, phishing, unknown, protected]
          description: The verdict for this email
          example: clean
        confidence:
          type: number
          format: float
          minimum: 0
          maximum: 1
          nullable: true
          description: Confidence score (0-1)
          example: 0.92
        disposable:
          type: boolean
          nullable: true
          description: Whether the email uses a disposable/temporary domain
          example: false
        free_provider:
          type: boolean
          nullable: true
          description: Whether the email uses a free email provider
          example: true
        deliverable:
          type: boolean
          nullable: true
          description: Whether the email appears to be deliverable
          example: true
        valid_mx:
          type: boolean
          nullable: true
          description: Whether the domain has valid MX records
          example: true
        reputation_score:
          type: number
          format: float
          minimum: 0
          maximum: 1
          nullable: true
          description: Email reputation score (0-1)
          example: 0.85
        scam_category:
          type: string
          nullable: true
          description: Scam taxonomy category, once the record has been classified
          example: credential_theft
        scam_subcategory:
          type: string
          nullable: true
          description: Scam taxonomy subcategory
          example: fake_login_page
        verdict_id:
          type: string
          nullable: true
          description: Public identifier of the verdict record
          example: vrd_7fQ2xR4tL1mZ
        last_checked:
          type: string
          format: date-time
          nullable: true
          description: When the email was last checked
        created_at:
          type: string
          format: date-time
          description: When the email was first seen

    User:
      type: object
      properties:
        pd_id:
          type: string
          description: Unique user identifier
          example: PDU5A1B2C3D
        email:
          type: string
          format: email
          example: user@example.com
        first_name:
          type: string
          example: John
        last_name:
          type: string
          example: Doe
        username:
          type: string
          example: jdoe
        access_level:
          type: string
          enum: [user, trusted, admin, superadmin, owner]
          example: user
        created_at:
          type: string
          format: date-time

    WhoisResult:
      type: object
      properties:
        domain:
          type: string
          example: suspicious-site.com
        registrar:
          type: string
          nullable: true
          example: NameCheap, Inc.
        registrar_url:
          type: string
          nullable: true
        registered_at:
          type: string
          format: date-time
          nullable: true
        updated_at:
          type: string
          format: date-time
          nullable: true
          description: When the registry record was last updated
        expires_at:
          type: string
          format: date-time
          nullable: true
        domain_age_days:
          type: integer
          nullable: true
          description: Days since registration. A very new domain is a common phishing signal.
          example: 3
        days_until_expiry:
          type: integer
          nullable: true
        nameservers:
          type: array
          nullable: true
          items:
            type: string
        status:
          type: array
          nullable: true
          description: EPP status codes from the registry
          items:
            type: string
        dnssec:
          type: boolean
          nullable: true
        source:
          type: string
          nullable: true
          description: Which lookup answered, RDAP or WHOIS
          example: rdap
        queried_at:
          type: string
          format: date-time

    Protection:
      type: object
      properties:
        id:
          type: string
          example: prt_4k8xJm2pN9qW
        domain:
          type: string
          example: example.com
        reason:
          type: string
          nullable: true
          example: Customer owned domain
        protected_by:
          type: string
          description: Public identifier of the user who added the protection
          example: usr_4k8xJm2pN9qW
        created_at:
          type: string
          format: date-time

    Webhook:
      type: object
      properties:
        id:
          type: string
          example: swh_4k8xJm2pN9qW
        url:
          type: string
          format: uri
          example: https://example.com/hooks/phish
        events:
          type: array
          items:
            type: string
            enum: [user.created, user.role_changed, domain.verdict, url.verdict]
        active:
          type: boolean
          description: False once the webhook has been removed
          example: true
        created_at:
          type: string
          format: date-time

    SourceEntry:
      type: object
      description: |
        One value a trusted source is classifying. The value goes under the key
        that matches the endpoint (domain, url, email or phone_number), or under
        the generic key `value`.
      properties:
        domain:
          type: string
          example: evil.example
        url:
          type: string
          example: https://evil.example/login
        email:
          type: string
          format: email
          example: sender@evil.example
        phone_number:
          type: string
          description: E.164 format
          example: "+14155551234"
        value:
          type: string
          description: Generic alternative to the type-specific key above
        classification:
          type: string
          enum: [phishing, suspicious, clean]
          description: |
            Overrides the request-level classification. `unknown` and `protected`
            are refused: the first carries no information, and the second is an
            operator decision rather than a source's.
          example: phishing
        confidence:
          type: number
          format: float
          minimum: 0
          maximum: 1
          description: Defaults to 1.0
          example: 0.99
        metadata:
          type: object
          additionalProperties: true
          description: Free-form context stored on the verdict. At most 4KB of JSON.
          example:
            feed: daily
            first_seen: "2026-09-01"

    SourceResult:
      type: object
      description: What happened to one submitted entry.
      properties:
        value:
          type: string
          description: The normalized value
          example: evil.example
        status:
          type: string
          enum: [created, updated, invalid, rejected]
          description: |
            `created` means the value was new to us. `updated` means we already
            held it and its verdict now says what you sent. `invalid` means the
            value, classification, confidence or metadata was malformed.
            `rejected` means the value is on our protected list, so nothing was
            written.
          example: created
        id:
          type: string
          nullable: true
          description: Public identifier of the record. Absent on invalid and rejected entries.
          example: dom_4k8xJm2pN9qW
        classification:
          type: string
          nullable: true
          enum: [phishing, suspicious, clean]
          example: phishing
        confidence:
          type: number
          format: float
          nullable: true
          example: 0.99
        verdict_id:
          type: string
          nullable: true
          example: vrd_7fQ2xR4tL1mZ
        reason:
          type: string
          nullable: true
          description: Why the entry was refused. Present on invalid and rejected entries.
          example: "Invalid domain format"
        protection_id:
          type: string
          nullable: true
          description: The protection that refused this entry. Present on rejected entries.
          example: prt_4k8xJm2pN9qW

    SourceUpsertResponse:
      type: object
      properties:
        results:
          type: array
          description: One result per submitted entry, in the order sent
          items:
            $ref: '#/components/schemas/SourceResult'
        counts:
          type: object
          description: Entries per status. A status with no entries is left out.
          additionalProperties:
            type: integer
          example:
            created: 1
            updated: 1
        count:
          type: integer
          description: Total entries processed
          example: 2

    IdentityUser:
      type: object
      properties:
        pd_id:
          type: string
          example: PDU5A1B2C3D
        public_id:
          type: string
          example: usr_4k8xJm2pN9qW
        email:
          type: string
          format: email
        first_name:
          type: string
          nullable: true
        last_name:
          type: string
          nullable: true
        full_name:
          type: string
          nullable: true
        username:
          type: string
          nullable: true
        status:
          type: string
          enum: [active, suspended, deactivated]
        access_level:
          type: string
          enum: [user, trusted, admin, superadmin, owner]
        staff:
          type: boolean
        pd_dev:
          type: boolean
        email_verified:
          type: boolean
        has_password:
          type: boolean
        locked_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message
          example: Missing required parameter

  responses:
    BadRequest:
      description: Bad request - missing or invalid parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: "Missing required parameter: domain"

    Unauthorized:
      description: Unauthorized - invalid or missing API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: "Invalid or missing API key"

    Forbidden:
      description: Authenticated, but this key or user may not use this endpoint
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: "Admin access required"

    NotFound:
      description: The resource does not exist
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: "Resource not found"

    TooManyRequests:
      description: |
        Rate limit exceeded. The `Retry-After` header says how long to wait.
      headers:
        Retry-After:
          schema:
            type: integer
          description: Seconds to wait before retrying
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: Rate limit exceeded
              retry_after:
                type: integer
                nullable: true

    ServiceUnavailable:
      description: An upstream lookup failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    IdentityApiDisabled:
      description: The identity_api_enabled feature flag is off
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: "Identity API is not enabled"

    NotImplemented:
      description: This endpoint is not implemented
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: "Use /oauth/token for OAuth 2.0 token exchange"

    UnprocessableEntity:
      description: Unprocessable entity - validation failed
      content:
        application/json:
          schema:
            type: object
            properties:
              errors:
                type: object
                additionalProperties:
                  type: array
                  items:
                    type: string

security:
  - BearerAuth: []
  - ApiKeyHeader: []
